<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.four.d1708.shop.mangeserver.mapper.SpuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.four.d1708.shop.entityinterface.entity.ShopSpu">
        <id column="id" property="id" />
        <result column="goods_name" property="goods_name" />
        <result column="is_marketable" property="is_marketable" />
        <result column="category_id" property="category_id" />
        <result column="small_pic" property="small_pic" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_name, is_marketable, category_id, small_pic
    </sql>

    <resultMap id="mapVo" type="com.four.d1708.shop.mangeserver.entity.ShopSpuVo" extends="BaseResultMap">
        <result property="categoryName" column="categoryName"></result>
    </resultMap>

    <select id="findAll" resultMap="mapVo">
        select
            spu.*,category.name categoryName
        from
            shop_spu spu
        left join
            shop_category category
        on
            spu.category_id=category.id
        <where>
            <if test="shopSpuVo!=null">
                <if test="shopSpuVo.goods_name!=null and shopSpuVo.goods_name!=''">
                    and spu.goods_name like concat('',#{shopSpuVo.goods_name},'')
                </if>
                <if test="shopSpuVo.categoryId!=null">
                    and category.id=#{shopSpuVo.categoryId}
                </if>
            </if>
        </where>
        group by
            spu.id
    </select>

    <select id="findSpuBySpuId" resultMap="mapVo">
        select * from shop_spu where shop_spu.id=#{spuId}
    </select>

</mapper>
