<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.four.d1780.shop.cartAndOrderServer.mapper.ShopSkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.four.d1708.shop.entityinterface.entity.ShopSku">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="sell_point" property="sell_point" />
        <result column="price" property="price" />
        <result column="stock_count" property="stock_count" />
        <result column="image" property="image" />
        <result column="status" property="status" />
        <result column="create_time" property="create_time" />
        <result column="update_time" property="update_time" />
        <result column="spu_id" property="spu_id" />
        <result column="spec_name" property="spec_name" />
        <result column="option_name" property="option_name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, sell_point, price, stock_count, image, status, create_time, update_time, spu_id
    </sql>

    <select id="fandBySkuId" resultMap="BaseResultMap">
        SELECT a.* FROM shop_sku a WHERE a.id=#{skuid}
    </select>
</mapper>
