<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.four.d1780.shop.cartAndOrderServer.mapper.ShopAreaVoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.four.d1780.shop.cartAndOrderServer.entity.ShopAreaVo">
        <id column="id" property="id" />
        <result column="name" property="name" ></result>

    </resultMap>
    <resultMap id="BaseResultMapVo" type="com.four.d1780.shop.cartAndOrderServer.entity.ShopAreaVo">
        <id column="id" property="id" />
        <result column="name" property="name" ></result>
        <collection property="list" ofType="com.four.d1780.shop.cartAndOrderServer.entity.ShopAreaVo">
            <id column="bid" property="id" />
            <result column="bname" property="name" ></result>
            <collection property="list" ofType="com.four.d1780.shop.cartAndOrderServer.entity.ShopAreaVo">
                <id column="cid" property="id" />
                <result column="cname" property="name" ></result>
            </collection>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="BaseResultMapVo">
        SELECT
          a.id,a.name,
          b.`id` bid ,b.name bname,
          c.id cid ,c.`name` cname
        FROM
          shop_area a
          LEFT JOIN shop_area b
            ON a.`id` = b.`pid`
          LEFT JOIN shop_area c
            ON b.`id` = c.`pid`
        WHERE a.`pid` = 1
    </select>

</mapper>
